<a href="https://colab.research.google.com/github/brayannmb/python_basics_letscode_santander/blob/main/modulo_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo 02 - Santander Coders - Let´s Code - Data Science**

## **Listas**

Listas são coleções de objetos em Python. Ao invés de declarar 1 variável para cada valor que gostaríamos de armazenar, podemos criar uma lista para armazenar vários valores.

###**Exemplos - Aula**

In [ ]:
# Criando uma lista vazia.
listavazia = []

# Criando uma lista com alguns valores.
numeros = [1, 3, 7, 8, 9]

# Listas podem mesclar diferentes tipos de valores.
listamista = [14, "let's code", 0.1, True]

# Acessamos cada elemento da lista através de um índice entre colchetes.
# Os índices começam em 0.
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4], "\n")

1
3
7
8
9

In [ ]:
# Listas são mutáveis: podemos alterar o valor de seus itens.
numeros[2] = 5
print(numeros, "\n")

# Um jeito inteligente de trabalhar com listas é utilizando loops.
indice = 0
while indice < 5:
    print(numeros[indice])
    indice = indice + 1

[1, 3, 5, 8, 9]

1
3
5
8
9

###**Método Append**

Este método é utilizado para acrescentar elementos dentro de uma lista. Com seu funcionamento muito parecido com o método `.extend()`. Entretanto, no método `extend()` é feito uma concatenação do valores.

In [ ]:
animais = []
resposta = 's'
while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um animal à lista (s/n)? ')
    if (resposta == 's' or resposta == 'S'):
        animal = input('Digite o nome do animal: ')
        animais.append(animal) # adiciona o novo animal à lista
print(animais)

Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: Gato
Deseja adicionar um animal à lista (s/n)? S
Digite o nome do animal: Cachorro
Deseja adicionar um animal à lista (s/n)? n
['Gato', 'Cachorro']

###**Método remove**

O método `.remove()` faz uma remoção do valor desejado. Para este método deve-se passar valor do elemento em si, ao contrário do método `.pop()`, que deve ser passado a posição no index do elemento.

In [ ]:
animal = input('Digite o animal a ser deletado da lista: ')
animais.remove(animal)
print(animais)

Digite o animal a ser deletado da lista: Cachorro
['Gato']

###**Método Count**

Este método faz a contagem de um elemento dentro de uma lista, retornando a quantidade ocorrências do elemento selecionado.

In [ ]:
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')
print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

###**Método Index**

Este método verifica se um elemento está inserido dentro de uma lista e retorna sua posição de index.

In [ ]:
rivaldo = jogadores.index('Rivaldo')
print("Rivaldo está na posição ", rivaldo)

Rivaldo está na posição  1

In [ ]:
teste = {'A', 'B', 2, '3', True}

In [ ]:
'A' in teste

True

In [ ]:
teste2 = {'A', 'C', 1, '3', False}

In [ ]:
teste3 = teste & teste2

In [ ]:
teste3

{1, '3', 'A'}

##**Tuplas**

As tuplas também coleções de objetos em Python igual as listas. A grande diferença entre elas é que as tuplas são imutáveis, ou seja, assim que declarados seus valores não podem ser alterados.

In [ ]:
exemplo = ('Brayan', 22, True, 1.80)

Como podemos ver acima, as tuplas também aceitam todos os tipos primitivos de valores. Para instaciar um objeto do tipo tupla, utilizamos os parentêses, mas também podemos declarar um objeto tuplas sem o uso dos parentêses:

In [ ]:
exemplo2 = 'Brayan', 22, True, 1.80

print(type(exemplo2))

<class 'tuple'>

Para acessar um elemento que está contido em uma tupla, utilizamos a mesa sintaxe do objeto lista:

In [ ]:
print(exemplo2[0])
print(exemplo2[1])
print(exemplo2[2])
print(exemplo2[3])

Brayan
22
True
1.8

A partir de uma lista, podemos transforma-lá em uma tupla:

In [ ]:
lista_exemplo = ['Brasil', 'Hexacampeão', 2002, True]
nova_tupla = tuple(lista_exemplo)

print(nova_tupla)
print(type(nova_tupla))

('Brasil', 'Hexacampeão', 2002, True)
<class 'tuple'>

Um método pouco conhecido mas bem útil sobre tuplas é descompactamento (*unpacking*), onde o Python descompacta uma tupla atribuindo cada elemento para uma variável diferente:

In [ ]:
paises = ('Brasil', 'Argentina', 'México', 'Colombia')

In [ ]:
b, a, m, c = paises

print(b)
print(a)
print(m)
print(c)

Brasil
Argentina
México
Colombia

Também podemos visualizar cada elemento de uma lista separadamente, utilizando o simbolo de asterisco:

In [ ]:
print(*paises)

Brasil Argentina México Colombia

##**Strings**

Neste tópico irei abordar um pouco sobre strings, um dos tipos pritimitivos mais usados em diversas manipulações.

Para instanciar um objeto do tipo string, basta delimitar o seu valor utilizando aspas simples ou aspas duplas. O Python não diferencia aspas simples de aspas duplas, embora uma boa prática é padronizar entre uma das duas opções.

In [ ]:
frase = 'Isso é uma string'

print(type(frase))

<class 'str'>

Uma boa analogia é se imaginar uma string com uma lista, onde é possível acessar cada elemento utilizando uma posição de index, mas no caso das strings é acessado cada caractere (Lembrando que em Python o index se inicia em zero).

In [ ]:
curso = 'Curso de Python'

print(curso[2])
print(curso[6])
print(curso[3])

r
d
s

**Assim como as tuplas, as strings também são imutáveis.**

As listas possuem diversos métodos para manipulação, começando pelo método `.len()` que faz a leitura de quantos caractéres uma string possui:

* Os espaços também contados.

In [ ]:
len(curso)

15

Métodos para transformação de strings: 

* `.title()` - Método que altera a primeira letra de para maíusculo cada string após um espaço;
* `.capitalize()` - Método coloca apenas o primeiro caractére em maísculo
* `.upper()` - Método que altera todas os caractéres para maíusculo
* `.lower()` - Método que altera todas os caractperes para minúsculo
* `.replace()` - Método que faz uma substituição de um caractére

In [ ]:
print(curso.title())
print(curso.capitalize())
print(curso.upper())
print(curso.lower())
print(curso.replace('C', 'F'))

Curso De Python
Curso de python
CURSO DE PYTHON
curso de python
Furso de Python

Outros métodos para transformação de strings são:

* `.split()` - Faz uma separação de cada string separadas por espaço e atribui para uma lista
* `.strip()` - Elimina todos os espaços desnecessários do lado esquerdo e direito

In [ ]:
print(curso.split()) #por default é feita a separação pelos espaços.

curso = '   Curso de Python   '

print(curso.strip())

['Curso', 'de', 'Python']
Curso de Python

Também é possível utilizar operadores aritméticos com strings:

* Operador de adição: concatena strings
* Operador de multiplicação: multiplica as strings

Utilização da contra barra:

In [ ]:
# Podemos inserir quebras de linha com '\n'
frase = 'uma\nFRASE'
print(frase)
# Podemos inserir tabulação com '\t'
frase = 'uma\n\tFRASE'
print(frase)
# Para conseguir representar a barra '\', precisamos de 2 barras:
frase = 'uma\\FRASE'

uma
FRASE
uma
	FRASE

**Uso de operadores aritméticos com strings**

In [ ]:
# Dois operadores aritméticos possuem um comportamento especial em strings:
# Operador de soma (+): concatena (une) 2 strings.
palavra1 = "Let's"
palavra2 = "Code"
palavra3 = palavra1 + palavra2
print(palavra3, '\n')

# Operador de multiplicação (*): copia uma string 'n' vezes:
palavra = 'uma'
trespalavras = 3*palavra
print(trespalavras)

Let'sCode

umaumauma

**Formatação de strings**

In [ ]:
prod = 'chocolate'
preco = 3.14
print('O produto {} custa {}.'.format(prod, preco))

# Na linha acima, prod substituirá o primeiro {}, e preco o segundo {}

O produto chocolate custa 3.14.

**Opções especiais de formatação:**

In [ ]:
stringoriginal = 'O litro da gasolina custa {:.2f}'
'''
: indica que passaremos opções
.2 indica apenas 2 casas após o ponto decimal
f indica que é um float
'''
preco = 3.14159265
stringcompleta = stringoriginal.format(preco)
print(stringcompleta)
# Saída: O litro da gasolina custa 3.14
# O preço sai com apenas 2 casas após a vírgula!

O litro da gasolina custa 3.14

**Especificando obrigatoriamente a quantidade dígitos em cada campo:**

In [ ]:
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1, '\n')
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço


data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2,'\n')
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

1/8/2019

 1/ 8/2019

01/08/2019

**Maneira mais simples de implementar o método format():**

In [ ]:
# Um modo mais simples de utilizar o format
nome = "Pietro"
profissao = "professor"
escola = "Let's Code"

print(f"{nome} é {profissao} da {escola}.")
# Saída: Pietro é professor da Let's Code.

Pietro é professor da Let's Code.

##**Dicionários**

Um dicionário é uma coleção, assim como as listas e as tuplas. Porém, enquanto as tuplas eram indexadas por um índice, os dicionários são indexados por chaves. Todo elemento em um dicionário possui uma chave e um valor. Chaves tipicamente são strings, valores podem ser qualquer tipo de dado.

In [ ]:
dicionario = {}

# O dicionário não possui um "append".
# Adicionamos valores diretamente:

dicionario['cat'] = 'gato'
dicionario['dog'] = 'cachorro'
dicionario['mouse'] = 'rato'

print(dicionario,'\n')
print(type(dicionario))

{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}

<class 'dict'>

Assim como as listas, os dicionários os valores também são mutáveis, mas as chaves são imutáveis.

In [ ]:
dicionario['dog'] = 'cão'
print(dicionario)

{'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}

In [ ]:
# Podemos criar o dicionário diretamente também:
dicionario2 = {'Curso': 'Python Pro', 'Linguagem':'Python', 'Módulo':2}
print(dicionario2)

{'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

**Comando IN para verificação:**

In [ ]:
# Podemos utilizar o operador "in" para verificar se uma chave existe:
if 'cat' in dicionario:
    print('cat existe!') # Sim
if 'bird' in dicionario:
    print('bird existe!') # Não
if 'gato' in dicionario:
    print('gato existe!') # Não

cat existe!

**Além do método IN, podemos utilizar alguns métodos que nos mostram quais chaves e quais valores estão contido dentro de um dicionário!**

In [ ]:
chaves = dicionario.keys()
print(chaves)

dict_keys(['cat', 'dog', 'mouse'])

In [ ]:
valores = dicionario.values()
print(valores)

dict_values(['gato', 'cão', 'rato'])

In [ ]:
itens = dicionario.items()
print(itens)

dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

##**Estrutura FOR**

O for é um tipo especial de loop feito para percorrer elementos de uma coleção. Acima vimos exemplos usando um while e um contador para percorrer uma lista. O for elimina a necessidade de inicializarmos um contador, incrementarmos e verificar a condição de parada.

O for se repete uma vez para cada elemento da lista. A cada repetição, a variável temporária assume o valor de um elemento da lista, na ordem da lista.

In [ ]:
fib = [1, 1, 2, 3, 5, 8, 13]
for elemento in fib:
    print(elemento)

1
1
2
3
5
8
13

**Utilização da função range junto com loop for:**

O for pode ser usado, junto com a função range(), para gerar sequências numéricas e contagens. Existem 3 meios de usar o range(): especificando 1, 2 ou 3 parâmetros.

In [ ]:
for numero in range(10):
    print(numero)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for numero in range(1,11):
    print(numero)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for numero in range(1,20,2):
    print(numero)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for num in range (10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
nomes_times = ['São Paulo', 'Corinthians', 'Santos', 'Palmeiras']

for time in nomes_times:
    print(time)

São Paulo
Corinthians
Santos
Palmeiras

##**Funções**

Funções são uma espécie de "subprograma". Elas são como pequenos pedacinhos de programa que podem ser chamadas pelo nome. Para criar uma função usamos o comando "def" e o nome da função. Elas são um bloco de comando assim como if/elif/else, while e for.

In [ ]:
def media_aritmetica(nota1, nota2, nota3, nota4):
    media = (nota1 + nota2 + nota3 + nota4) / 4
    return media

media_aritmetica(5, 8, 10, 6)

7.25

O comando return é o encarregado de retornar o valor calculado dentro da função, assim, o valor retornado pode utilizado no restante do programa, atribuído alguma variável, etc.

Assim como as funções nativas do Python, também podemos declarar parâmetros default para nossas funções:

In [ ]:
def media_arimetica2(nota4,nota1 = 0, nota2 = 0, nota3 = 0):
    media = (nota1 + nota2 + nota3 + nota4) / 4
    return media

media_arimetica2(4)

1.0

Note acima que somente a nota 4 não tem um valor default definido, assim, obrigatoriamente o usuário terá que inserir um valor de entrada para essa nota.

Parâmetros que definimos um valor default devem ser declaradas depois dos paramêtros que não tem seus valores default.

A função pode receber vários parâmetros separados por vírgula.

In [ ]:
def dadosPessoais(nome, idade, cidade):
    print("Seu nome é {}, você tem {} anos e mora em {}.".format(nome, idade, cidade))

dadosPessoais("José", 30, "Maceió")

Seu nome é José, você tem 30 anos e mora em Maceió.

Os parâmetros podem ser passados fora de ordem. Porém, para isso precisamos explicitar qual parâmetro estamos passando, para evitar ambiguidade ou erros de interpretação do Python.

In [ ]:
dadosPessoais(idade=56, cidade="Florianópolis", nome="Ana")

Seu nome é Ana, você tem 56 anos e mora em Florianópolis.

Quando nós não sabemos a quantidade de argumentos que será inserido em uma função, nós devemos utilizar os **args**,pois, cada parâmetro passado a função irá ser adicionado a uma tupla e irá executar o código dentro da função.

In [ ]:
def somatorio(*args):
    print(args, len(args))
    soma = sum(args)
    return soma
somatorio(10, 25, 80, 70, 51, 59, 58)

(10, 25, 80, 70, 51, 59, 58) 7

353

Podemos utilizar o operador * na chamada da função também. Na definição, o operador * indica que devemos agrupar itens avulsos em uma coleção. Na chamada, ele indica que uma coleção deve ser expandida em itens avulsos:

In [ ]:
def piscina(prof, largura, comprimento):
    vol = prof*largura*comprimento
    return vol

lista = [5, 4, 5]

volume = piscina(*lista)

print('O volume é: ', volume)

O volume é:  100